.form__legend {
    font-weight: bold;
}

.form__label {
    font-weight: bold;
    width:100%;
    max-width: 150px;
    display: inline-block;
    font-weight: bold;
    color: white;
}

.form__note {
    color: white;
    font-weight: bold;
}

.form__data {
    width:100%;
    max-width: 350px;
    padding: 12px;
    border: 2px solid rgb(130, 212, 143);
    border-radius: 5px;
}

.form__data:hover {
    border-color: rgb(65, 153, 79);
}

.form__button {
    padding: 10px;
    width:100%;
    margin: 0 auto;
    background-color: rgb(109, 187, 109);
    border:none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

.form__button:hover {
    background-color: hsl(120, 26%, 47%);
}

.form__button:active {
    background-color: hsl(120, 23%, 40%);
    color: white;
}

.form__fieldset {
    border: 2px solid rgb(182, 179, 179);
    border-radius: 5px;
    margin-top: 20px;
}

.form__legend {
    background-color: rgb(109, 187, 109);
    padding:10px;
    border-radius: 20px;
    font-size: 18px;
}

.submit {
    color: white;
    font-weight: bold;
    font-size: 20px;
}